/* 공통 common.css */
#wrap {}
#wrap * {
    transition:all 0.3s;
}
#wrap .container {
    min-width:320px;
    background-position: center; background-size: cover;
    padding: 70px 15px;
}
#wrap .container .contents {max-width: 1250px; margin: 0 auto;}
#wrap .container .contents h1 {
    font-size: 1.38rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 40px;
}
#wrap .container .contents h1 .highlight {
    background-color: #fff;
    color: black;
    font-weight: 500;
    padding: 2px;
}
#wrap .container .contents h1+p {
    margin:0 0 22px;
    font-size: 0.81rem;
    font-weight: 500;
    line-height: 1.7;
}
/* mobile design - .sponser_btn */
#wrap .container .sponsor_btn {
    width: 164px; height: 41px; display: block; margin: 0 auto;
    background: linear-gradient(90deg, #FE9300, #FF7300);
    border-radius: 37.5px;
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
    gap: 10px;
}
#wrap .container .sponsor_btn::after {
    content:'>'; display: block; color: white; font-size: 0.75rem;
}
#wrap .container .sponsor_btn em {
    color: white; font-weight: 500;
}