/* 반응형 조건 responsive */
/* m(320~) -> t(1024~) -> d(1250~) */
@media screen and (min-width:550px) {
    /* ------------------------------2행 퀴즈 */
    #wrap .quiz_bg .quiz {
        flex-flow:row nowrap;}/* t, d column -> row */
    #wrap .quiz_bg .quiz .quiz_list {width: 200px;}
    #wrap .quiz_bg .quiz .quiz_status {flex: 1;}
    }

@media screen and (min-width:860px) {
    #wrap .intro {padding:200px 80px;}
    /* ---------------------------3행~6행 공통 */
    #wrap .container .contents h1 {font-size: 2.5rem; margin: 0 0 40px;}
    #wrap .container .contents h1+p {font-size: 1.38rem;}
    /* ----------------------------3행 */
    #wrap .video_bg .video h1 {margin:0 0 70px;}
    #wrap .video_bg .video iframe {height: 484px;}
    /* ---------------------------5행 */
    #wrap .humanity_bg .humanity .list {flex-flow: row nowrap;}
    #wrap .humanity_bg .humanity .list li {flex: 1;}
    #wrap .humanity_bg .humanity .list li .txt p {font-size: 1rem; line-height: 1.7;}
    #wrap .humanity_bg .humanity .list li dl dt {
    color: #fff;
    font-size: 2.69rem;
    font-weight: 600;
    }
    #wrap .humanity_bg .humanity .list li:nth-child(1) dl {
        padding-bottom: 182px;
    }
    #wrap .humanity_bg .humanity .list li:nth-child(2) dl {
        padding-bottom: 182px;
    }
    #wrap .humanity_bg .humanity .list li:nth-child(3) dl {
        padding-bottom: 182px;
    }
    #wrap .humanity_bg .humanity .list li .txt {height: 250px;}
    #wrap .container .contents h1+p {margin:0 0 40px; font-size: 1rem;}
}/* 860-1023 */
@media screen and (min-width:1024px)
    #wrap .intro {
        padding: 410px 0 100px;
    }
    #wrap .container .logo {
        top: 30px; left: 36px;
        width: 32px;
    }
    #wrap .intro h1 {
        margin-bottom: 100px;
    }
    #wrap .intro span {
    font-size: 3.125rem;
    font-weight: 600;
    }
    #wrap .intro .sponsor_btn {
        width: 238px; height: 60px;
    }
    #wrap .intro .sponsor_btn em {font-size: 1.38rem;}
    #wrap .intro .sponsor_btn::after {font-size: 1rem;}
    /* --------------------------------2행 퀴즈 */
    #wrap .quiz_bg .quiz .quiz_list {width: 400px;}
    #wrap .quiz_bg .quiz .quiz_list h1 {
        font-size: 2.5rem; 
    }
    #wrap .quiz_bg .quiz .quiz_list h2 span {
        font-size: 1.25rem; 
    }
    #wrap .quiz_bg .quiz .quiz_list #check_answer {
    background-color: #050505;
    border-radius: 50px; 
    color: #fff;
    width: 115%;
    padding: 14px;
    line-height: 1.7;
    }
    #wrap .quiz_bg .quiz .quiz_list {
    margin-bottom: 16px;
    }
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm #quiz_container li label {background-size: 28px; display: block; line-height: 2;}
    /* ------------------------------------------8행 */
    #wrap .regular_bg .regular #donation_txt {display: flex; flex-flow: row nowrap; 
        justify-content: space-between; align-items: flex-end; }
    #wrap .regular_bg .regular #donation_txt h2 {margin: 0;}
    #wrap .regular_bg .regular #donation_txt .sponsor_btn {
    font-size: 1.375rem;
    } 
    #wrap .container .sponsor_btn::after {
        content:'>'; color: white;
    }
    #wrap .regular_bg .regular #donation_txt .sponsor_btn em {
    margin-right: 18px;}
    #wrap .regular_bg .regular #donation_txt h2 {
    color: #fff; line-height: 1.2; font-size: 2.5rem;
    }
    #wrap .regular_bg {
        padding:200px 80px;
    }
    #wrap .regular_bg .regular #donation_list .donation {
        display: flex;
        flex-flow: column nowrap;
    }
    #wrap .regular_bg .regular #donation_list {
    display: grid;
    grid-template-areas: 
        'sponser2 sponser3'
        'sponser4 sponser4';
    grid-template-columns: 1fr 1fr;
    }
    #wrap .regular_bg .regular #donation_list .donation .photo {
    height:300px;
    }
    #wrap .regular_bg .regular #donation_txt h2 {
    color: #fff; line-height: 1.2; font-size: 1.375rem;}
    #wrap .guides_bg .guides {padding: 100px 80px;}
/* 1024~ */

@media screen and (min-width:1250px) {
    #wrap .intro {
        padding: 447px 335px 100px;
    }
    #wrap .container .logo {
        top: 53px; left: 61px;
        width: 42px;
    }
    #wrap .intro h1 span {
    font-size: 4.38rem;
    font-weight: 600;
    }
    #wrap .intro h1 span:nth-child(1) {
        font-weight: 400;
    }
    #wrap .intro h1 span:nth-child(2) {
        font-weight: 700 ;
    }
    #wrap .intro .sponsor_btn {
        width: 409px; height: 71px;
    }
    #wrap .intro .sponsor_btn em {font-size: 2.13rem;}
    #wrap .intro .sponsor_btn::after {font-size: 2rem;}
    /* =============================== 2행 퀴즈 */
    #wrap .quiz_bg .quiz .quiz_list {width: 400px;}
    #wrap .quiz_bg .quiz .quiz_list h1 {
        font-size: 3.44rem; 
    }
    #wrap .quiz_bg .quiz .quiz_list h2 span {
        font-size: 2.13rem; 
    }
    #wrap .quiz_bg .quiz .quiz_list #check_answer {
    background-color: #050505;
    border-radius: 50px; 
    color: #fff;
    width: 115%;
    padding: 14px;
    line-height: 1.7;
    }
    #wrap .quiz_bg .quiz .quiz_list {
    margin-bottom: 16px;
    }
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm #quiz_container li label {}
    /* --------------------------5행 */
    #wrap .intro {padding:200px 80px;}
    /* ---------------------------3행~6행 공통 */
    #wrap .container .contents h1 {font-size: 2.5rem; margin: 0 0 40px;}
    #wrap .container .contents h1+p {font-size: 1.38rem;}
    /* ----------------------------3행 */
    #wrap .video_bg .video h1 {margin:0 0 70px;}
    #wrap .video_bg .video iframe {height: 484px;}
    /* ---------------------------5행 */
    #wrap .humanity_bg .humanity .list {flex-flow: row nowrap;}
    #wrap .humanity_bg .humanity .list li {flex: 1;}
    #wrap .humanity_bg .humanity .list li .txt p {font-size: 1rem; line-height: 1.7;}
    #wrap .humanity_bg .humanity .list li dl dt {
    color: #fff;
    font-size: 2.69rem;
    font-weight: 600;
    }
    #wrap .humanity_bg .humanity .list li:nth-child(1) dl {
        padding-bottom: 182px;
    }
    #wrap .humanity_bg .humanity .list li:nth-child(2) dl {
        padding-bottom: 182px;
    }
    #wrap .humanity_bg .humanity .list li:nth-child(3) dl {
        padding-bottom: 182px;
    }
    #wrap .humanity_bg .humanity .list li .txt {height: 250px;}
    #wrap .container .contents h1+p {margin:0 0 55px; font-size: 1rem;}
    /* -----------------------------------------------8행 */
    #wrap .activity_bg .activity .details {
        grid-template-areas: 
        'public nature'
        'corporation nature';
        grid-template-columns: 1fr 1fr;
    }
    #wrap .activity_bg .activity .details li {
        background-position: center;
        background-size: cover;
        position: relative ;  
        padding-bottom: 30px;
    }
    #wrap .activity_bg .activity .details li:last-child .txt {position: absolute; left: 0; bottom:31px ;}
    #wrap .activity_bg {
        
    }
    #wrap .activity_bg .activity .details .txt {
        background: linear-gradient(rgba(0, 0, 0, 0.452)) transparent;
        width: 50%;
    }
    #wrap .activity_bg .activity .details .txt dt {font-size: 2.13rem; margin-bottom: 18px; color: #fff;}
    #wrap .activity_bg .activity .details .txt dd {font-size: 0.813rem; color: #fff; line-height: 1.7;}
        #wrap .regular_bg .regular #donation_list {
    display: grid;
    grid-template-areas: 
        'sponser2 sponser3 sponser4';
    grid-template-columns: 1fr 1fr 1fr;
    }
    #wrap .regular_bg .regular #donation_list .donation .photo {
    transform: translateY(0);
    }
    #wrap .guides_bg .guides {padding: 335px 100px;}
    #wrap .guides_bg .guides h2 {font-size: 2.13rem; font-weight: 600; padding-bottom: 10px;}
    #wrap .guides_bg .guides ul li {font-size: 1.25rem; line-height:1.7;}
}
    /* 1250~max */
/* background image 키우면 label(인라인)도 같이 키워서 line-height등으로
키워도 잘리지 않게 */